table {
  width: fit-content;
  border-collapse: collapse;
  margin: 0 auto;
  min-width: 65%;
  margin-bottom: var(--space-l);
  margin-top: var(--space-l);
}

tr {
  border-bottom: 1px solid #ddd;
}

td,
th {
  padding: 8px;
  text-align: left;
}
