.sidebar {
  width: 100vw;
  height: min-content;
  flex-direction: row;
  padding: var(--space-m);

  @media only screen and (min-width: 640px) {
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    position: fixed;
    height: 100vh;
    width: min-content;
  }
}

.sidebarPlaceholder {
  @media only screen and (min-width: 640px) {
    height: 100vh;
    width: 140px;
  }
}

.content {
  background-color: var(--primary-background-color-light);
  box-shadow: var(--shadow-normal);
  border: var(--border-normal);
  border-radius: var(--border-radius-n);

  width: 100%;
  height: min-content;
  padding: var(--space-n);

  display: flex;
  flex-direction: row;
  gap: 20px;

  @media only screen and (min-width: 640px) {
    height: 100%;
    width: 80px;
    margin: var(--space-l) var(--space-n);

    flex-direction: column;
    align-items: center;
  }
}

.item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-n);
  border: var(--border-normal);
  transition: 0.2s ease;

  &:hover {
    background-color: var(--hover-state-background-color);
  }

  &.active {
    background-color: var(--hover-state-background-color);
    border-color: var(--highlight-color);
    border-width: 3px;
  }
}

.usercontainer {
  position: relative;
  margin-left: auto;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (min-width: 640px) {
    margin-top: auto;
  }
}

.flyout {
  position: absolute;
  top: calc(100% + 30px);
  left: calc(-200% - 32px);
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--space-s);
  padding: var(--space-s);

  background-color: var(--primary-background-color-light);
  box-shadow: var(--shadow-normal);
  border: var(--border-normal);
  border-radius: var(--border-radius-n);

  height: 0;
  width: 200px;
  opacity: 0;
  visibility: hidden;

  transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease,
    visibility 0.2s ease;

  @media only screen and (min-width: 640px) {
    top: inherit;
    left: calc(100% + 30px);
    bottom: -15px;
  }
}

.flyout.show {
  width: 200px;
  height: 110px;
  opacity: 1;
  visibility: visible;

  & > .flyoutEntry {
    opacity: 1;
    flex: 1;
    visibility: visible;
  }
}

.flyoutEntry {
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-s);
  padding-left: var(--space-n);
  display: flex;
  flex-direction: row;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  margin: 0;
  transition: visibility 0.01s ease, opacity 0.01s ease;
  cursor: pointer;
}

.flyoutEntry:hover {
  background-color: var(--hover-state-background-color);
}

.flyoutEntry:active {
  background-color: var(--active-state-background-color);
}

.userIcon {
  background-color: var(--primary-background-color);
  border: var(--border-normal);
  border-radius: 500px;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
