.settings {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-top: var(--space-l);
}

.setting {
  display: flex;
  align-items: center;
  gap: var(--space-m);
  border-bottom: var(--border-normal);
  padding-bottom: var(--space-m);
}

.settingLabel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.settingTitle {
  font-size: var(--font-size-l);
}

.settingDescription {
  color: var(--font-color-2);
  font-size: var(--font-size-s);
}

.settingValue {
  flex: 1 1 auto;
  min-width: 125px;
  max-width: 250px;
  height: fit-content;
}

.dropdown {
  border: none;
  outline: none;
  appearance: none;
  background-color: var(--primary-background-color-light);
  padding: var(--space-n) var(--space-m);
  border: var(--border-normal);
  font-size: var(--font-size-m);
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' opacity='0.9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath d='m7 15 5 5 5-5'/%3E%3Cpath d='m7 9 5-5 5 5'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.5em top 50%, 0 0;
}
