:root {
    --primary-background-color: rgb(253, 253, 253);
    --primary-background-color-light: rgb(255, 255, 255);
    --secondary-background-color: rgb(239, 239, 239);
    --hover-state-background-color: rgb(227, 227, 227);
    --active-state-background-color: rgb(185, 185, 185);
    --danger-background-color: rgb(255, 216, 216);
    --success-background-color: rgb(230, 255, 221);

    /* primary font color */
    --font-color-1: rgb(35, 35, 35);

    /* secondary font color */
    --font-color-2: rgb(123, 123, 123);

    --danger-font-color: rgb(233, 84, 84);

    --highlight-color: #6559ed;

    --font-size-s: 0.8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 2rem;

    --space-xs: 0.2rem;
    --space-s: 0.5rem;
    --space-n: 0.8rem;
    --space-m: 1rem;
    --space-l: 2rem;
    --space-xl: 4rem;

    --border-radius-s: 0.3rem;
    --border-radius-n: 0.8rem;

    --border-color-1: rgb(209, 209, 209);
    --border-color-2: rgb(164, 164, 164);
    --border-normal: 1px solid var(--border-color-1);
    --border-focused: 1px solid var(--border-color-2);

    --shadow-normal: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
    --shadow-high: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-background-color: rgb(26, 26, 26);
        --primary-background-color-light: rgb(33, 33, 33);
        --secondary-background-color: rgb(56, 56, 56);
        --hover-state-background-color: rgb(63, 63, 63);
        --active-state-background-color: rgb(86, 86, 86);
        --danger-background-color: rgb(110, 44, 44);
        --success-background-color: rgb(85, 135, 68);

        /* primary font color */
        --font-color-1: rgb(225, 225, 225);

        /* secondary font color */
        --font-color-2: rgb(123, 123, 123);

        --danger-font-color: rgb(233, 84, 84);

        --border-color-1: rgb(74, 74, 74);
        --border-color-2: rgb(97, 97, 97);

        --highlight-color: #5f59a6;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

body {
    color: var(--font-color-1);
    background: var(--primary-background-color);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

h1 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-n);
}

h2 {
    font-size: var(--font-size-l);
    margin-bottom: var(--space-n);
}

h3,
h4,
h5,
h6 {
    margin-bottom: var(--space-n);
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: var(--space-l);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
