ul,
ol,
dl {
  margin: 0 0 var(--space-m) 0;
  padding: 0;
}

ul {
  list-style: disc outside;
  padding-left: var(--space-l);
}

ul li {
  position: relative;
  padding: 0.2rem 0;
}

ul ul {
  list-style: circle outside;
}

ul ul ul {
  list-style: square outside;
}

ol {
  list-style: decimal outside;
  padding-left: var(--space-l);
}

ol li {
  position: relative;
  padding: 0.2rem 0;
}

ol ol {
  list-style: lower-alpha outside;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: var(--space-xs) 0 var(--space-xs) var(--space-m);
}

dl {
  padding-left: var(--space-l);
}

dt {
  font-weight: 600;
  color: var(--font-color-1);
  margin-top: var(--space-m);
}

dd {
  margin: var(--space-xs) 0 var(--space-n) var(--space-m);
  color: var(--font-color-2);
}

.card ul,
.card ol {
  padding-right: var(--space-m);
}

.compact-dl dt {
  float: left;
  clear: left;
  width: 120px;
}

.compact-dl dd {
  margin-left: 140px;
}
