.mdsnip-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  @media only screen and (min-width: 640px) {
    width: 80%;
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.mdsnip-input {
  padding: var(--space-n) var(--space-m);
  border-radius: var(--border-radius-s);
  border: var(--border-normal);
  outline: none;
  font-size: var(--font-size-m);

  &:focus {
    border: var(--border-focused);
  }
}

.mdsnip-textarea {
  padding: var(--space-n) var(--space-n);
  border-radius: var(--border-radius-s);
  border: var(--border-normal);
  outline: none;
  font-size: var(--font-size-m);
  resize: none;
  width: 100%;
  height: 100%;

  &:focus {
    border: var(--border-focused);
  }
}

.mdsnip-button {
  padding: var(--space-n) var(--space-m);
  background-color: var(--secondary-background-color);
  border: var(--border-normal);
  outline: none;
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  color: var(--font-color-1);

  &:hover {
    background-color: var(--hover-state-background-color);
  }

  &:focus {
    background-color: var(--hover-state-background-color);
    border: var(--border-focused);
  }
}
