table {
  width: fit-content;
  border-collapse: collapse;
  margin: var(--space-l) auto;
  min-width: 65%;
}

tr {
  border-bottom: 1px solid var(--border-color-1);
}

thead tr {
  border-bottom: 1px solid var(--border-color-2);
}

th {
  font-weight: 600;
  color: var(--font-color-1);
}

td,
th {
  padding: var(--space-s) var(--space-n);
  text-align: left;
}
