.menu {
  background: var(--primary-background-color);
  border: var(--border-normal);
  border-radius: var(--border-radius-n);
  box-shadow: var(--shadow-normal);
  z-index: 10;
  min-width: 120px;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 640px) {
    right: initial;
  }
}

.item {
  padding: 8px 16px;
  cursor: pointer;
}

.item:hover {
  background-color: var(--hover-state-background-color);
  border-radius: var(--border-radius-n);
}

.destroy {
  color: var(--danger-font-color);

  &:hover {
    background-color: var(--danger-background-color);
  }
}

.warning {
  color: orange;

  &:hover {
    background-color: rgb(252, 236, 209);
  }
}
