.snippetsContainer {
  margin-top: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  margin-bottom: var(--space-l);

  @media only screen and (min-width: 640px) {
    margin-top: var(--space-xl);
    gap: var(--space-l);
  }
}

.searchBar {
  max-width: 500px;
}

.snippets {
  display: flex;
  gap: var(--space-m);
  flex-wrap: wrap;
  flex-direction: column;

  @media only screen and (min-width: 640px) {
    flex-direction: row;
  }
}

.snippetContainer {
  position: relative;
  width: 100%;

  @media only screen and (min-width: 640px) {
    width: 300px;
  }
}

.snippet {
  border: var(--border-normal);
  padding: var(--space-m);
  border-radius: var(--border-radius-n);
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  height: 100%;
  justify-content: space-between;
  background-color: var(--primary-background-color-light);

  &:hover {
    cursor: pointer;
  }
}

.snippetContent {
  font-size: var(--font-size-l);
  margin-right: var(--space-l);
}

.snippetLink {
  font-size: var(--font-size-s);
  color: var(--font-color-2);
}

.metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    font-size: var(--font-size-s);
    color: var(--font-color-2);
  }

  .expired {
    color: var(--danger-font-color);
  }

  .shareLink {
    padding: var(--space-xs) var(--space-s);
    margin-left: calc(var(--space-s) * -1);

    &:hover {
      cursor: pointer;
      background-color: var(--hover-state-background-color);
      border-radius: var(--border-radius-s);
    }

    &:active {
      background-color: var(--active-state-background-color);
    }
  }
}

.edit {
  position: absolute;
  top: 12px;
  right: 10px;

  .button {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    padding: 5px;
    border-radius: var(--border-radius-s);

    &:hover {
      cursor: pointer;
      background-color: var(--secondary-background-color);
    }
  }
}

.editTextArea {
  height: 50vh;
}
