.registerPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.description {
  margin-bottom: 30px;
  line-height: 1.5;
  opacity: 0.8;
}

.registerContainer label {
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-bottom: var(--space-m);
}

.already {
  text-align: center;
}

.link {
  color: var(--highlight-color);
  font-weight: bold;
}

.formElement {
  display: flex;
  flex-direction: column;
}

.btnContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
  margin-bottom: var(--space-m);

  & > button {
    width: 100%;
  }

  & > p {
    color: red;
  }
}
