.container {
  position: fixed;
  top: var(--space-m);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  z-index: 1000;
  width: max-content;
  max-width: calc(100vw - var(--space-l));
}
